/*
font-family: 'Rubik', sans-serif;   400 500 700
*/

:root {
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);

  --green: rgb(10, 251, 10);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  background: var(--Very-light-gray);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-list {
  margin-bottom: 140px;
}

.comment-container {
  max-width: 700px;
  margin: 20px 10px;
  padding: 20px;
  background: var(--White);
  display: flex;
  position: relative;
  border-radius: 5px;
}

.comment-score {
  background: var(--Very-light-gray);
  padding: 10px 12px;
  margin-right: 15px;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.score-value {
  color: var(--Moderate-blue);
  font-weight: 500;
  padding-top: 5px;
}

.score-value-up {
  color: var(--green);
  font-weight: 500;
  padding-top: 5px;
  animation: ping 1s ease-in-out 1 both;
}

.score-value-down {
  color: var(--Soft-Red);
  font-weight: 500;
  padding-top: 5px;
  animation: ping 1s ease-in-out 1 both;
}

.plus-btn,
.minus-btn {
  padding: 5px 0;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  25% {
    transform: scale(1.5);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.plus-clicked {
  padding: 5px 0;
  filter: saturate(100) hue-rotate(250deg) brightness(100);
  animation: ping 1s ease-in-out 1 both;
}

.minus-clicked {
  padding: 5px 0;
  filter: saturate(100) hue-rotate(120deg) brightness(100);
  animation: ping 1s ease-in-out 1 both;
}

.plus-btn:hover,
.minus-btn:hover {
  filter: saturate(50) grayscale(90);
}

.notAllowed:hover {
  cursor: not-allowed;
  filter: none;
}

.comment-info {
  width: 100%;
}

.user {
  display: flex;
}

.user-title {
  display: flex;
  align-items: center;
}

.user-img {
  width: 30px;
}

.user-name {
  color: var(--Dark-blue);
  font-weight: 700;
  padding-left: 15px;
  padding-right: 10px;
}

.you {
  background: var(--Moderate-blue);
  color: var(--White);
  font-size: 14px;
  border-radius: 2px;
  padding: 0px 6px 3px;
  margin-right: 10px;

}

.createdAt,
.comment-content {
  color: var(--Grayish-Blue);
  font-weight: 400;
  line-height: 1.4;
}

.reply-btn,
.edit-btn {
  color: var(--Moderate-blue);
  font-weight: 700;
  position: absolute;
  right: 20px;
}

.delete-btn {
  color: var(--Soft-Red);
  font-weight: 700;
  position: absolute;
  right: 90px;
}

.confirm-box {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-container {
  max-width: 375px;
  background: var(--White);
  border-radius: 5px;
  padding: 30px;
}

.confirm-container h1 {
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  color: var(--Dark-blue);
}

.confirm-container p {
  font-weight: 400;
  color: var(--Grayish-Blue);
  line-height: 1.4;
  font-size: 16px;
}

.confirm-container div {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.yes {
  background: var(--Soft-Red);
  width: 45%;
}

.no {
  background: var(--Grayish-Blue);
  width: 45%;
}

.reply-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
  filter: opacity(50%);
}

.comment-content {
  margin-top: 20px;
}

.comment-content span {
  color: var(--Moderate-blue);
  font-weight: 700;
}

.reply-comment {
  max-width: 630px;
  margin-left: 80px;
}

.reply-container {
  position: relative;
}

.reply-container::after {
  content: '';
  background: var(--Light-gray);
  width: 3px;
  position: absolute;
  top: 0px;
  left: 40px;
  bottom: 0px;
}

.add-comment {
  position: fixed;
  bottom: 0px;
  align-items: start;
  width: 96%;
  justify-content: space-between;
}

.add-comment::after {
  content: '';
  position: absolute;
  background: var(--Very-light-gray);
  left: -10px;
  bottom: -20px;
  height: 20px;
  width: 1000px;
}

.replying-comment {
  align-items: start;
}

.btns-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.btns-container .cancel-btn {
  margin-left: 0;
}

.add-comment img,
.replying-comment img {
  width: 40px;
}

.add-comment textarea,
.replying-comment textarea {
  border: 2px solid var(--Light-gray);
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0px 20px;
  resize: none;
  flex-basis: 80%;
}

.edit-comment textarea {
  border: 2px solid var(--Light-gray);
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 20px;
  resize: none;
  width: 100%;
}

.send-btn,
.update-btn,
.cancel-btn,
.yes,
.no {
  text-transform: uppercase;
  color: var(--White);
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 5px;
}

.update-btn,
.send-btn {
  background: var(--Moderate-blue);
}

.update-btn,
.cancel-btn {
  float: right;
  margin-top: 15px;
  margin-left: 20px;
}

.cancel-btn {
  background: var(--Grayish-Blue);
}

.send-btn:hover,
.update-btn:hover,
.cancel-btn:hover,
.yes:hover,
.no:hover {
  opacity: 50%;
}

.toast-container {
  position: fixed;
  z-index: 1;
  width: 300px;
  justify-content: space-evenly;
  top: 1px;
  right: calc(50% - 150px);
  background: rgb(157, 240, 157);
  display: flex;
  border-radius: 5px;
  padding: 5px 10px;
}

.toast-message {
  font-size: 13px;
}

.toast-cancel {
  font-size: 10px;
  outline: outset;
  outline-width: 2px;
  padding: 0 3px;
  font-weight: 500;
  transition: 3s;
}

.toast-cancel:active {
  outline: inset;
  outline-width: 2px;
}


@media screen and (max-width: 650px) {
  .comment-container {
    flex-direction: column-reverse;
  }

  .reply-comment {
    margin-left: 30px;
  }

  .reply-container::after {
    left: 15px;
  }

  .comment-score {
    padding: 5px 12px;
    margin-top: 15px;
    width: fit-content;
    flex-direction: row;
  }

  .score-value {
    padding: 5px 15px 0px 15px;
  }

  .score-value-up {
    padding: 5px 15px 0px 15px;
  }

  .score-value-down {
    padding: 5px 15px 0px 15px;
  }

  .minus-btn img,
  .minus-clicked img {
    padding-bottom: 3px;
  }

  .reply-btn,
  .edit-btn,
  .delete-btn {
    bottom: 25px;
  }

  .add-comment,
  .replying-comment {
    display: grid;
  }

  .add-comment textarea,
  .replying-comment textarea {
    grid-column: 1 / span 3;
    margin: 0 0px 20px 0;
  }

  .add-comment img,
  .replying-comment img {
    grid-column: 1;
    grid-row: 2;
  }

  .add-comment button {
    grid-column: 3;
    grid-row: 2;
  }

  .btns-container {
    display: grid;
    grid-column: 2 / span 2;
    grid-row: 2;
  }

  .replying-comment .btns-container .send-btn {
    grid-column: 3;
    grid-row: 2;
  }

  .replying-comment .btns-container .cancel-btn {
    grid-column: 2;
    grid-row: 2;
    margin-right: 30px;
    margin-top: 0;
  }

  .comment-list {
    margin-bottom: 200px;
  }

  .confirm-container {
    padding: 24px;
    margin: 0px 15px;
  }
}




.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}